<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <style>

    </style>
</head>
<html>

<body>

    <section class="banner d-flex justify-content-center align-items-center">

        <noscript>
            <h2>Oops! It looks like this browser does not support JavaScript</h2>
        </noscript>


        <div class="col-md-8 col-xl-6 chat">
            <div class="card">



                <div class="card-body msg_card_body" id="chat">
                    <ul class="contacts">
                        <h1 class="text-center headingfriends">Friends</h1>
                        <li th:if="${friends.empty}">
                            you have No Friends! Make <a th:href="@{/user/friends}"
                                class="text-uppercase font-weight-bold" style="color: #fff;">friends</a> To Start
                            Chatting
                        </li>
                        <li th:each="otherUser : ${friends}">
                            <!-- <a th:href="@{/user/chat(userId=${otherUser.id})}"> -->
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img th:src="${otherUser.imageUrl}" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span th:text="${otherUser.firstname + ' ' + otherUser.lastname}"></span>
                                    <!-- You can add more information about the user if needed -->
                                </div>
                                <div class="align-self-center frnd_btn">
                                    <a th:href="@{/user/addmembers(roomId=${roomId},userId=${otherUser.id})}"
                                        class="input-group-append send-friend-request">
                                        Add To Group
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a th:href="@{/user/groupchat(roomId=${roomId})}"
                        class="input-group-append send-friend-request">
                        Go Back
                    </a>
                </div>
            </div>
    </section>
</body>

</html>