<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <section>
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-4 col-xl-6 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts-card">
                        <div class="card-body contacts_body">
                            <ul class="friends">
                                <h1 class="text-center headingfriends">Send Friend Request</h1>

                                <li th:each="otherUser : ${allUsers}">
                                    <div class="friend-list">
                                        <div class="img_cont">
                                            <img th:src="${otherUser.imageUrl}" class="rounded-circle user_img">

                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <span th:text="${otherUser.firstname + ' ' + otherUser.lastname}"></span>
                                            <!-- You can add more information about the user if needed -->
                                        </div>

                                        <div class="align-self-center frnd_btn">                                                                                                                              
                                                <form th:action="@{/send_request}" method="post">
                                                    <input hidden name="reciver" th:value="${otherUser.id}">
                                                    <button type="submit"
                                                        class="input-group-append send-friend-request">
                                                        Add Friend
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </div>

                    </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        <script th:inline="javascript">
            var user = [[${ user }]];

            // sending userId to chat.js
            var userId = [[${ userId }]];
        </script>

        <script th:src="@{/JS/friend.js}"></script>

    </section>
</body>

</html>