<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <section>
    <h1>friends</h1>
<!--    
      <ul class="contacts">
        <li th:each="otherUser : ${allUsers}">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img th:src="@{/IMG/profile.jpg}" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span th:text="${otherUser.firstname + ' ' + otherUser.lastname}"></span>
                     You can add more information about the user if needed
                </div>
            </div>
        </li>
    </ul> -->
    
 
  </section>
</body>
</html>