<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />

</head>

<body>
	<section>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-6 chat">
					<div class="card mb-sm-3 mb-md-0 friendrequest_card">
						<div class="card-body contacts_body">
							<ul class="friendrequest">
								<li th:if="${requests.empty}">
									No friend requests
								</li>
								<li th:each="request : ${requests}">
									<div class="friendrequest-list">
										<div class="img_cont">
											<img th:src="${request.imageUrl}" class="rounded-circle user_img">
											<span class="online_icon"></span>
										</div>
										<div class="user_info">
											<span th:text="${request.firstname + ' ' + request.lastname}"></span>
											<!-- You can add more information about the user if needed -->
										</div>
										<div class="align-self-center frnd_btn">
											<form th:action="@{/acceptRequest}" method="post">
												<input name="id" hidden="hidden" th:value="${request.id}">
												<div class="d-flex">
													<button type="submit"
														class="input-group-append send-friend-request">
														Accept
													</button>
													<!-- <button type="submit"
														class="input-group-append delete-friend-request"
														id="delete-friend-request">
														Delete
													</button> -->
												</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
	</section>
</body>
</html>