<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <section>
    <div class="container bg-white container_update">
      <div class="row d-flex flex-column align-items-center">
        <div class="col-md-3  col-md-12 border-bottom">
          <div class="d-flex flex-column align-items-center text-center profile">
            <img class="rounded-circle " width="150px" th:src="${user.imageUrl}">  
            <span class="font-weight-bold" th:text="${user.uname}">
              </span>
            <span class="text-black-50" th:text="${user.email}"></span><span>
            </span>
          </div>
        </div>
        <div class="container mt-2">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary edit-button">
              <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </button>
          </div>
        </div>
        <div class="col-md-6 border-right">
          <div class="p-3 py-5">
            <div class="profile-edit">
              <h4 class="text-center">Profile Settings</h4>
            </div>
            <form th:action="@{update_profile}" method="post" enctype="multipart/form-data">
              <div class="row ">
                <div class="col-md-6">
                  <label class="labels">Name</label>
                  <input type="text" class="form-control" th:value="${user.firstname}" name="firstname" disabled>
                </div>
                <div class="col-md-6">
                  <label class="labels">Surname</label>
                  <input type="text" class="form-control" value="" th:value="${user.lastname}" name="lastname" disabled>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label class="labels">Username</label>
                  <input type="text" class="form-control" th:value="${user.uname}" value="" name="uname" disabled>
                </div>
                <div class="col-md-12"><label class="labels">Mobile Number</label>
                  <input type="text" class="form-control" th:value="${user.contact}" value="" name="contact" disabled>
                </div>
                <div class="col-md-12"><label class="labels">Insert an Profile Image</label>
                  <input type="file" class="form-control" name="profile" th:value="${user.imageUrl}" disabled />
                </div>
                <div class="d-flex justify-content-center mt-5 text-center">
                  <button class="btn btn-primary profile-button" type="submit" style="display: none;">
                    Save Profile <i class="fas fa-save"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        // JavaScript for enabling editing and saving profile data
        const editButton = document.querySelector('.edit-button');
        const saveButton = document.querySelector('.profile-button');
        const formInputs = document.querySelectorAll('.form-control');

        editButton.addEventListener('click', () => {

          if (formInputs[0].disabled) {
            formInputs.forEach(input => input.disabled = false);
            editButton.innerHTML = '<i class="fa fa-ban" aria-hidden="true"></i> Cancel';
            saveButton.style.display = 'block';
          } else {
            formInputs.forEach(input => input.disabled = true);
            editButton.innerHTML = '<i class="fa fa-pencil" aria-hidden="true"></i> Edit';
            saveButton.style.display = 'none';
          }
        });
      </script>
  </section>
</body>

</html>