<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
  <meta charset="UTF-8">

   

</head>

<body>
  <section>
    <div class="container bg-white container_update">
      <div class="row">
        <div class="col-md-3  col-md-12 border-bottom">
          <div class="d-flex flex-column align-items-center text-center profile"><img class="rounded-circle "
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
              class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span>
            </span></div>
        </div>
        <div class="container mt-2">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary edit-button">
              <i class="bi bi-pencil"></i> Edit
            </button>
          </div>
        </div>
        <div class="col-md-6 border-right">
          <div class="p-3 py-5">
            <div class="profile-edit">
              <h4 class="text-center">Profile Settings</h4>
            </div>
            <form th:action="@{update_profile}" method="post">
              <div class="row ">
                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                    placeholder="first name" value="" disabled></div>
                <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control"
                    value="" placeholder="surname" disabled></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                    class="form-control" placeholder="enter phone number" value="" disabled></div>
                <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control"
                    placeholder="Enter your address" value="" disabled></div>
                <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control"
                    placeholder="enter address line 2" value="" disabled></div>
                <div class="col-md-12 "><label class="labels">Gender</label>
                  <table cellspacing="5" cellpading="5">
                    <tr>
                      <td>
                        <input type="radio" class="form-control radio" name="Gender" value="Male" disabled>
                      </td>
                      <td class="td-label">
                        <label for="Male">Male</label><br>
                      </td>

                    </tr>
                    <tr>
                      <td>
                        <input type="radio" class="form-control radio" name="Gender" value="Male" disabled>

                      </td>
                      <td class="td-label">
                        <label for="Female">Female</label><br>

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="radio" class="form-control radio" name="Gender" value="Male" disabled>

                      </td>
                      <td class="td-label">
                        <label for="Other">Others</label><br>
                      </td>
                    </tr>
                  </table>

                </div>
              </div>

              
        </div>
        <div class="col-md-4">
          <d iv class="p-3 py-5">
            <div class="col-md-12 "><label class="labels">Description</label>
              <textarea type="text" class="form-control" disabled>Description
                      </textarea>
            </div>
        </div>
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
          Profile</button></div>
      </div>
      
      </form>
    </div>
    </div>
    </div>

    <script>
      // JavaScript for enabling editing and saving profile data
      const editButton = document.querySelector('.edit-button');
      const saveButton = document.querySelector('.profile-button');
      const formInputs = document.querySelectorAll('.form-control');

      editButton.addEventListener('click', () => {
        formInputs.forEach(input => {
          input.disabled = false;
        });
        saveButton.disabled = false;
      });
    </script>
  </section>
</body>

</html>