<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />

</head>

<body>
	<section class="">
		<div id="user-profile-2" class="user-profile">
            <div class="tabbable">
               
    
                <div class="tab-content no-border padding-24 profile">
                    <div id="home" class="tab-pane in active">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 center">
                                <span class="profile-picture">
                                    <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png">
                                </span>
    
                                <div class="space space-4"></div>
                              
                                <a href="#" class="btn btn-sm btn-block btn-success">
                                    <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                                    <span class="bigger-110" id="popupButton" >Insert profile Picture</span>
                                </a>

                                <div id="popup" class="popup">
                                    <div class="popup-content">
                                        <span class="close" id="closePopup">&times;</span>
                                        <h2>Insert Your Profile Picture</h2>
                                        <form enctype="multipart/form-data" action="@{/add_image}">
                                            <div class="mb-3">
                                                <input type="file" name="profile_pic"/>
                                                <button type="submit">Submmit</button>
                                              </div> 
                                        </form>
                                    </div>
                                </div>
                               
                                <a th:href="@{/user/update}" class="btn btn-sm btn-block btn-primary">
                                    <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                                    <span class="bigger-110" >edit profile</span>
                                </a>
                            </div><!-- /.col -->

    
                            <div class="col-xs-12 col-md-6 profile-details">
                                <h4 class="blue">
                                    <span class="middle" th:text="${user.uname}"></span>
                      
                                </h4>
    
                                <div class="profile-user-info">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Username </div>
    
                                        <div class="profile-info-value">
                                            <span th:text="${user.uname}"></span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Name </div>
    
                                        <div class="profile-info-value">
                                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                                            <span th:text="${user.firstname}"></span>
                                            <span th:text="${user.lastname}"></span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Email </div>
    
                                        <div class="profile-info-value">
                                            <span th:text="${user.Email}"></span>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="space-20"></div>
                </div>
            </div>
        </div>
		<script th:src="@{/JS/profile.js}"></script>
	</section>
</body>

</html>