body {
	background-color: #0f0f1a;
	font-family: Arial, sans-serif;
}

.container {
	
	
	background-color: #1e213a;
	border-radius: 10px;
	border-top: 4px solid #19d4ca;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	margin-top: 80px;
}
@media only screen and (min-width: 950px) {
  .container {
    width: 650px;
  }
}

.form-control {
	padding: 10px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #ccc;
	color: #fff;
	transition: box-shadow 0.3s;
}

.form-control:focus {
	box-shadow: 0 0 10px #19d4ca;
}

.mycard {
	padding: 20px;
}

.form-group,
.form-control {
	text-align: left;
}

.btn {
	width: 130px;

}

.btn-container {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #b38bff;
	font-size: 18px;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #8c5fb2;
}