<!DOCTYPE html>
<html lang="ar" dir="ltr" xmlns:th="http://www.thymeLeaf.org" th:fragment="Layout(content)">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}">base html</title>
	<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
	<!--	for chat IU-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- links for Chat UI -->
	<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/d4ad7cd31c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">



	<!--	extra Style-->
	<link rel="stylesheet" th:href="@{/CSS/style.css}">


</head>

<body>
	<!--this is navbar-->
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a href="#" class="logo">Mychats</a>

			<button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
				</span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto text-uppercase">

					<li class="nav-item">
						<a class="nav-link " aria-current="page" th:href="@{/user/profile}"><span
								th:text="${user.uname}"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/user/groupchat}">Group Chat</a>
					</li>

					<li class="nav-item">
						<a class="nav-link " aria-current="page" th:href="@{/user/chat}">Chats </a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" th:href="@{/user/notification}">Notification</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" th:href="@{/user/friends}">Friends</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" th:href="@{/logout}">Logout</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>


	<!--end of nabbar-->




	<div Th:replace="${content}"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>

</html>