<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/CSS/forget_password.css}">
</head>

<body>
	<div class="container mt-5 ">
		<div class="row ">
			<div class="col-md-8 offset-md-2">
				<div class="my-card mt-5 text-white">
					<h1 class="text-center text-white">Enter your OTP Here</h1>
					<div class="alert alert-success" role="alert">

						We have sent OTP to your email

					  </div>
					<form action="" th:action="@{/verify-otp}" method="post">
						<!--Email-field-->
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">Enter Your Conformation code</label>
							<input name="otp" type="text" class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" required="required">
						</div>
						<!--button-field-->

						<div class=" btn-container text-center">
							<button  class="btn bg-success text-white">
								Verify
							</button>

						</div>
						<div class="register-container text-center">
							<p>Already have an account? <a href="/" id="signup-link">Login</a></p>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
</body>

</html>